* {
    background-color: #232634;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.mainbanner {
    position: relative;
    overflow: hidden;
}

.mainbanner img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(35, 38, 52, 1), rgba(0, 0, 0, 0) 75%);
}

ul {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style-type: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    background-color: #232634;
    border-radius: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.dotfilesImage {
    margin: 20px 0; /* Add margin to create space above and below the image */
    text-align: center; /* Center the image */
}

.dotfilesImage img {
    max-width: 100%;
    height: auto;
    border: 5px solid #99d1db;
    border-radius: 10px;
}

h5, h4, h3, h1, h2 {
    color: #babbf1;
    background: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Responsive Styles */
h5 {
    padding-right: 25px;
    font-size: 20px;
}

h4 {
    text-align: left;
    padding-left: 23px;
    font-size: 20px;
}

h3 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5px;
    font-size: 50px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

h2 {
    text-align: center;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 25px;
}

/* Media Queries */
@media (max-width: 768px) {
    ul {
        position: relative;
        top: auto;
        right: auto;
        margin: 10px;
        padding: 10px;
        width: auto;
    }

    li {
        float: none;
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
        padding: 0 10px;
    }

    h3 {
        font-size: 30px;
        transform: translateY(0);
    }

    .dotfilesImage {
        margin: 20px 0; /* Maintain margin for mobile */
    }

    .gradient-overlay {
        background: linear-gradient(to top, rgba(35, 38, 52, 1), rgba(0, 0, 0, 0) 80%);
    }
}
