* {
    background-color: #232634;
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
}

/* Page Header - Banner and Gradient */
.mainbanner {
    position: relative;
    overflow: hidden;
}

.mainbanner img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(35, 38, 52, 1), rgba(0, 0, 0, 0) 75%);
}

/* Header Content - Includes page title layered over the banner */
.headerContent h1 {
    color: #babbf1;
    position: absolute;
    background: none;
    top: 47%;
    left: 13%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerContent h2 {
    color: #babbf1;
    position: absolute;
    background: none;
    text-align: center;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Dotfiles - Section describing the dotfiles */
.dotfilesContent h1 {
    color: #babbf1;
    position: relative;
    background: none;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 5px;
    font-size: 50px;
    transform: translateY(130px);
    margin-left: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dotfilesImage img {
    transform: translate(1%, 35%);
    max-width: 750px;
    max-height: 750px;
    border: 5px solid;
    border-color: #99d1db;
    border-radius: 10px;
    margin-left: 23px;
}

.dotfilesContent h2 {
    color: #babbf1;
    position: absolute;
    background: none;
    text-align: left;
    font-size: 20px;
    margin-left: 810px;
    transform: translateY(-75%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: fit-content;
}

@media screen (412, 915){
    .headerContent h1 {
        font-size: 20px;
    }
}